.EmptyRepairsList {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
}

.EmptyRepairsList__button {
  font-size: 1.2em;
  margin-top: .5em;
  padding: .5em 1em;
  background-color: #0077dd;
  border: none;
  cursor: pointer;
  color: #222;
}